.sidebar {
    background-color: #343a40;
    color: white;
    min-width: 250px;
    max-width: 250px;
    height: 100vh;
    padding: 0;
}

.sidebar a {
    color: white;
    padding: 15px;
    display: block;
    text-decoration: none;
    transition: background-color 0.2s;
}

.sidebar a:hover {
    background-color: #495057;
}
